{% extends '../base.html' %}
{% block title %}Главная страница с темами{% endblock title %}
{% block header %}
  <header>
    <h2>Темы:</h2>
  </header>
{% endblock header %}
{% block nav %}
  {% include 'includes/nav_vert.html' %}
{% endblock nav %}
{% block content %}
  <main>
    <div class="block_topic">
      {% for topic in topics %}
        <div class="topic"><a href="{% url 'pagemain:images_topic' topic.id %}" >{{ topic }}</a></div>
      {% empty %}
        <p>нет тем</p>
      {% endfor %}
    </div>
  </main>
  {% include 'includes/dialog_topic.html' %}
{% endblock content %}